@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 6px; /* Largura da barra vertical */
    height: 6px; /* Altura da barra horizontal */
}

::-webkit-scrollbar-thumb {
    background: #7857cd; /* Cor da barra de rolagem */
    border-radius: 4px; /* Bordas arredondadas */
}

::-webkit-scrollbar-thumb:hover {
    background: #8265c3; /* Cor quando o mouse passa sobre */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor do fundo da barra */
}